<div class="container-fluid banner mx-0 px-0" style="margin-top: 56px;">
  <img src="../../../assets/images/banner.png" class="img-banner">
</div>
<div class="container mt-3">
<div class="row">
  <div class="col-lg-6 mb-3 init-hidden" *ngFor="let produto of produtos">
    <div class="card px-2 py-3 card-produto border-0 shadow-sm">
      <div class="row">
        <div class="col-4 d-flex align-items-center">
          <img src="../../../assets/images/{{produto.pathImagens ? produto.pathImagens[0] : ''}}" class="img">
        </div>
        <div class="col-8 px-3 d-grid" >
          <div class="row mb-2">
            <span class="text-dark-green fs-3 fw-600">{{produto.nome}}</span>
          </div>
          <div class="row mb-3">
            <span class="fs-400">
              {{produto.descricao}}
            </span>
          </div>
          <div class="row align-items-end">
              <div class="col">
                <a class="btn bg-dark-green text-white text-nowrap fw-600 float-end px-5 fs-6 me-4" [routerLink]="['Visualizar', produto.id, 1]"> Ver Mais</a>
                <span class="text-dark-green fs-3 fw-700 float-end me-3">{{produto.valor}}</span>
              </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<router-outlet></router-outlet>

